@font-face {
  font-family: "Uindbase Font 1";
  src: url(./assets/fonts/UF1.ttf);
}

@font-face {
  font-family: "Usually-font";
  src: url(./assets/fonts/Usually-font.otf);
}

@font-face {
  font-family: "Usually-font-Bold";
  src: url(./assets/fonts/Usually-font-Bold.otf);
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
ul,
li {
  list-style: none;
}

a {
  text-decoration: none;
}
button {
  border: none;
  outline: none;
}

body {
  font-family: "Uindbase Font 1", sans-serif;
  color: #ffffff;
  background: linear-gradient(180deg, #0e141c 0%, #0a0f14 100%);
}

.container {
  max-width: 1568px;
  margin: 0 auto;
}
/* Header */
.header {
  margin-top: 43px;
  /* width: 100%; */
}

.header__content {
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.header__left {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-left: 104px;
  gap: 20px;
}

.header__actions {
  /* width: 100%; */
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__logo img {
  width: 121.64px;
  height: 30px;
}
.header__nav-list {
  display: flex;
  align-items: center;
}

.header__nav-link {
  font-size: 20px;
  font-weight: 400;
  line-height: 12px;
  text-align: center;
  padding: 10px 30px;
  color: #ffffff;
}

.header__nav-link-selected {
  color: #d1c12b;
}
/* 
.header__logo {
  margin: 0 40px 20px 0;
} */

.header__type {
  /* display: flex; */
  padding-left: 121px;
}

.header__type-list {
  display: flex;
  align-items: center;
  gap: 68px;
}

.header__type-link {
  font-size: 15px;
  font-weight: 400;
  line-height: 15px;
  padding: 0;
  text-align: center;
}

/* Hero */
.hero {
  margin-top: 135px;
  position: relative;
  display: flex;
  /* align-items: center; */
  justify-content: center;
  width: 100%;
}

.hero::before {
  content: "ОДЕЖДА ДЛЯ КАЖДОГО";
  color: #1f252d;
  position: absolute;

  font-family: "Usually-font-Bold", sans-serif;
  font-size: 170px;
  font-weight: 700;
  line-height: 148.07px;
  text-align: center;
  padding-top: 85px;
  z-index: 0;
}

.hero__content {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 178px;
}

.hero__inner {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
}

.hero__logo img {
  width: 209.94px;
  height: 49.94px;
}

.hero__texts {
  text-align: center;
}

.hero__title {
  font-family: "Usually-font-Bold", sans-serif;
  font-size: 130px;
  font-weight: 700;
  line-height: 113.23px;
  text-align: center;
  padding: 47px 0 17px 0;
  text-shadow: -3px 0 5px #d1c12b, 3px 0 5px #a332ca;
  /* text-shadow: 10px 24px 10px 0px rgba(0, 0, 0, 0.37); */
  text-shadow: 10px 24px 10px 0px #0000005e;
}

.hero__subtitle {
  font-family: inherit;
  font-size: 25px;
  font-weight: 400;
  line-height: 25px;
  margin-top: 40px;
  text-transform: uppercase;
}

.hero__button {
  border-radius: 50px;
  border: 2px solid #d1c12b;
  display: flex;
  align-items: center;
  justify-content: center;
  /* box-shadow: 0 0 8px #d1c12b, 0 0 16px #d1c12b; */
}

.hero__button img {
  width: 23px;
  margin: 19px 30px;
  height: 16px;
  margin-right: 8px;
  filter: drop-shadow(0 0 8px #d1c12b);
}

.hero__button p {
  align-items: stretch;
  font-family: Rosario;
  padding: 14.5px 17.5px;
  padding-right: 38.5px;
  font-size: 20px;
  font-weight: 500;
  line-height: 24.24px;
  text-align: center;
  color: #d1c12b;
  text-shadow: 0 0 8px #d1c12b, 0 0 16px #d1c12b;
}

/* Season */
.season {
  margin-top: 214px;
  /* margin: 214px 0; */
}

.season__content {
  display: flex;
  flex-direction: column;
  align-items: center;

  position: relative;
  width: 100%;
  z-index: 0;
}

.season__title {
  font-size: 100px;
  width: 100%;
  font-weight: 400;
  line-height: 100px;
  text-transform: uppercase;
  text-align: left;
}

.season__content::before {
  content: "на этот сезон";
  color: #1f252d;
  position: absolute;

  font-family: "Usually-font-Bold", sans-serif;
  font-weight: 700;
  text-align: center;
  z-index: -1;
  top: -40px;
  font-size: 140px;
  line-height: 160px;
}

.season__inner {
  width: 1248px;
  height: 587px;
  z-index: 3;
  background-image: url("./assets/images/season_bg.png");
  margin: 56px 0 16px 0;
  position: relative;
}

.season__inner-item {
  position: absolute;
  width: 300px;
  top: 310px;
  right: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 15px;
}

.season__inner-item p {
  font-size: 15px;
  font-weight: 400;
  line-height: 15px;
  text-align: center;
}

.season__arrow {
  position: absolute;
  width: 209px;
  bottom: 33px;
  left: 25px;
  border: 3px;
}

.season__lines {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

.season__line {
  width: 161px;
  height: 2px;
  background-color: white;
  border: 2px;
}

/* Actual */
.actual {
  margin-top: 78px;
}

.actual__content {
  width: 100%;
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: flex-end;
  gap: 60px;
}

.actual__content::before {
  content: "Актуальное";
  text-transform: uppercase;
  color: #1f252d;
  position: absolute;
  top: -65px;

  font-family: "Usually-font-Bold", sans-serif;
  font-size: 160px;
  font-weight: 700;
  line-height: 160px;
  text-align: right;

  z-index: -1;
}

.actual__inner {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 60px;
}

.actual__title {
  font-family: "Uindbase Font 1", sans-serif;
  font-size: 100px;
  font-weight: 400;
  line-height: 100px;
  text-align: right;
  text-transform: uppercase;
}

.actual__cards {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  gap: 50px;
}

.actual__card {
  width: 272px;
  /* height: 461px; */
  border-radius: 10px;
  background: #10171f;
  overflow: hidden;

  display: flex;
  flex-direction: column;
}

.actual__card-img {
  width: 300px;
  height: 409px;
}

.actual__card-title {
  font-family: "Uindbase Font 1", sans-serif;
  padding-top: 5px;
  padding-bottom: 15px;
  font-size: 20px;
  font-weight: 400;
  line-height: 20px;
  text-align: left;
}

.actual__card-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 9px 9px 9px;
}

.actual__card-cost {
  font-family: "Uindbase Font 1", sans-serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 20px;
  text-align: left;
}

.actual__refers {
  margin-right: 160px;
}

.actual__card-cart {
  font-family: "Uindbase Font 1", sans-serif;
  text-decoration: underline;
  font-weight: 400;
  line-height: 20px;
  text-align: left;
  color: white;
  text-transform: uppercase;
}

/* Contact */

.contact {
  margin-top: 120px;
}

.contact__content {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 55px;
  position: relative;
}

.contact__content::before {
  content: "Контакты";
  text-transform: uppercase;
  color: #1f252d;
  position: absolute;
  top: -30px;

  font-family: "Usually-font-Bold", sans-serif;
  font-size: 160px;
  font-weight: 700;
  line-height: 160px;
  text-align: right;

  z-index: -1;
}

.contact__title {
  /* font-family: Uindbase Font 1; */
  font-size: 100px;
  font-weight: 400;
  line-height: 100px;
  text-transform: uppercase;
  text-align: left;
}

.contact__actions {
  display: flex;
  width: 100%;
  align-items: center;
}

.contact__details {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  flex-direction: column;
  gap: 25px;
}

.contact__details p {
  /* font-family: Uindbase Font 1; */
  font-size: 25px;
  font-weight: 400;
  line-height: 25px;
  text-align: left;
}

/* Footer */
.footer {
  margin: 110px 0 75px 0;
}

.footer__content {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-around;
}

.footer__privacy {
  font-family: Rosario;
  font-size: 15px;
  font-weight: 300;
  line-height: 18.18px;
  text-transform: capitalize;
  text-align: left;
}

.footer__items {
  display: flex;
  /* justify-content: center; */
  align-items: center;
  flex-direction: column;
  text-align: center;
  gap: 16px;
}

.footer__logo {
  width: 195.24px;
  height: 45px;
}

.footer__texts {
  display: flex;
  gap: 16px;
  font-family: Rosario;
  font-size: 15px;
  font-weight: 300;
  line-height: 18.18px;
  text-align: center;
}
